@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin baseGrid($nColumns: 6) {
    display: grid;
    grid-template-columns: repeat($nColumns, 1fr);
    column-gap: 1rem;
    justify-items: center;
    align-items: center;
}

@mixin customBoxShadow() {
    box-shadow: 0px 0px 10px var(--base-black, black);
}

:root {
    --base-white: hsl(0, 0%, 95%);
    --base-black: hsl(0, 0%, 10%);

    --primary-bg: #7b5225;
    --secondary-bg: #BD5E15;

    --primary-bg-text: var(--base-white, white);
    --secondary-bg-text: var(--base-white, white);

    --hover: hsl(0, 0%, 50%);
    --active: hsl(0, 0%, 25%);

    --success: green;
    --info: gray;
    --warning: orange;
    --danger: red;
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;

    color: var(--base-black, black);
    background-color: var(--base-white, white);
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    @include customBoxShadow();

    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    max-width: 100rem;
    margin: 0 auto;

    display: grid;
    // TODO: Update for simple 3 row design insteads of 3row x 2column
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
}

header, 
main, 
footer {
    padding: 1.8rem;
}

// Header

header {
    grid-area: header;
}

// Main Content

main {
    grid-area: main;
    display: grid;
    grid-gap: 1em;
}

// Footer

footer {
    font-size: 1.2rem;
    grid-area: footer;
    display: grid;
    place-items: center;
}

header, footer {
    background-image: url("../images/wood_pattern.svg");
    background-size: contain;
    background-color: var(--primary-bg);
    color: var(--primary-bg-text, white);
}

// Custom IDs

#create-cut-list-btn-container,
.clear-btn-container {
    display: grid;
    justify-content: center;
}

#create-cut-list-error-msg {
    display: grid;
    justify-items: center;
    align-items: center;

    &.hide {
        display: none;
    }
}

#cut-list {
    display: grid;
    grid-gap: 1rem;
}

// Custom Classes

.cut-sequence {
    display: grid;
    grid-auto-flow: column;
    border: 2px solid var(--base-black, black);
    border-top: none;

    &:first-child {
        border-top: 2px solid var(--base-black, black);
    }
}

.hide {
    display: none;
}

.input-container {
    display: inline-block;

    label, input {
        width: 100%;
    }
}

.modal {
    //display: none; // Hidden by default
    position: fixed; // Stay in place
    z-index: 1; // Sit on top
    left: 0;
    top: 0;
    width: 100%; // Full width
    height: 100%; // Full height
    overflow: auto; // Enable scroll if needed
    background-color: rgb(0, 0, 0); // Fallback color
    background-color: rgba(0, 0, 0, 0.4); // Black w/ opacity
    // Grid
    display: grid;
    align-items: center;
    justify-items: center;
}

.modal-content {
    background-color: #fefefe;
    //margin: 15% auto; // 15% from the top and centered
    padding: 2rem;
    border: 1px solid #888;
    width: 80%; // Could be more or less, depending on screen size
    height: 50%;
    // Grid
    display: grid;
    justify-content: center;
    align-content: space-evenly;
}

.modal-content-btn-container,
.piece-btn-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
}

.piece-section {
    @include customBoxShadow();
    border: 2px solid var(--primary-bg, black);
    padding: 1em;
    display: grid;
    grid-gap: 1em;
}

.piece-form, 
.piece-list {
    border: 2px solid var(--primary-bg, black);
}

.piece-form {
    display: grid;
    grid-gap: 0.5em;
    padding: 0.5em;

    .piece-form-inputs {
        @include baseGrid;

        .input-container {
            display: grid;
        }
    }

    .piece-form-btn-container {
        display: grid;
        grid-auto-flow: column;
    }
}

.piece-list {
    .piece-list-head, 
    .piece-list-body .cut-piece,
    .piece-list-body .uncut-piece {
        @include baseGrid;
    }
}

.piece-list-body {
    .cut-piece-inst-container:nth-child(odd),
    .uncut-piece-inst-container:nth-child(odd) {
        background-color: hsl(0, 0%, 85%);
    }

    .cut-piece-inst-container:nth-child(even),
    .uncut-piece-inst-container:nth-child(even) {
        background-color: hsl(0, 0%, 75%);
    }
}

// Misc

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
    //margin: 0.83em 0;
}

h3 {
    font-size: 1.2em;
    //margin: 1em 0;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid var(--base-black, black);
    text-align: center;

    tbody {
        tr:nth-child(odd) {
            background-color: hsl(0, 0%, 85%);
        }

        tr:nth-child(even) {
            background-color: hsl(0, 0%, 75%);
        }
    }

    th, td {
        padding: 0.5rem 1rem;
        border: 2px solid var(--base-black, black);
    }
}

button, input[type=submit] {
    appearance: none;
    border: 1px solid var(--primary-bg, black);
    color: var(--primary-bg, inherit);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: var(--hover, hsl(0, 0%, 50%));
        color: var(--base-white, white);
    }

    &:active {
        background-color: var(--active, hsl(0, 0%, 25%));
    }

    &:hover, &:active {
        background-color: var(--primary-bg, inherit);
        color: var(--primary-bg-text, inherit);
    }
}
